body{
	padding						: 60px 0;
	background-color			: #eee;
}

a.thumbnail{
	margin						: 0 0 15px				!important;
	padding						: 15px 0				!important;
}

a.thumbnail:hover{
    text-decoration: none;
}

a.thumbnail img{
	max-height: 150px;
}